main {
	background: #efefef;
}

main .content {
	max-width: 960px;
	margin: 0 auto;
	padding: 24px 10px 12px;
	font-size: 0;
}

main .content .col-7, main .content .col-3 {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	margin: 0 1.5%;
}

main .col-7 {
	width: 66%;

}

main .col-3 {
	width: 28%;
}

	/*BLOG-POSTS STARTS*/
.blog-post {
	margin-bottom: 12px;
	padding: 12px;
	background: #fff;
}

.blog-post h2 {
	padding-bottom: 5px;
	border-bottom: 2px solid #666
}

.blog-post h2 a {
	color: #000;
	text-decoration: none;
}

.blog-post h2 a:hover {
	color: red;
}

.post-features {
	list-style: none;
	margin-bottom: 15px;
}

ul.post-features li {
	display: inline-block;
	margin: 0 10px 0 1px;
	vertical-align: middle;
	font-size: 0.68em;
	letter-spacing: 0.03em;
	color: #aaa;
}

.blog-post img {
	max-width: 100%;
}

#img3 {
	max-width: 50%;
	float: right;
	margin-left: 15px;
}

.blog-post p {
	margin: 5px 0;
	text-align: justify;
	font-size: 0.8em;
	line-height: 1.7em;
	text-indent: 2.5em;
}

.blog-post a.rm-btn {
	display: block;
	margin-top: 10px;
	padding: 7px 5px;
	font-size: 0.75em;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	letter-spacing: 0.1em;
	text-align: center;
	background: #505050;
}

.blog-post a.rm-btn:hover {
	background: #888;
}
	/*BLOG-POSTS ENDS*/
	
	/*SIDE-BAR STARTS*/
.sidebar .sb-row {
	margin-bottom: 12px;
	padding: 12px;
	background: #fff;
}

.sidebar h3 {
	padding-bottom: 2px;
	margin-bottom: 10px;
	font-size: 1.1em;
	border-bottom: 2px solid #666
}

	/*SIDE-BAR CATEGORIES STARTS*/
ul.categories {
	font-size: 0.8em;
	list-style: none;
}

ul.categories li {
	margin-bottom: 5px;
}

ul.categories li:last-child {
	margin-bottom: 0;
}

ul.categories li a {
	display: block;
	padding: 5px 10px;
}

ul.categories li a:hover {
	background: #ddd;
}

ul.categories li a:active {
	color: red;
}

ul.categories li a:visited {
	color: #555;
}
	/*SIDE-BAR CATEGORIES ENDS*/

	/*SIDE-BAR TWEETS STARTS*/
.sb-tw h3 {
	margin-bottom: 15px;
}
	
.tweet {
	margin-bottom: 10px;
}

.tweet .tweet-author {
	font-size: 0.8em;
	color: red;
}

.tweet p {
	font-size: 0.71em;
}

.tweet .time {
	font-size: 0.68em;
	letter-spacing: 0.03em;
	color: #aaa;
}
	/*SIDE-BAR TWEETS ENDS*/

	/*SIDE-BAR RECENT POSTS STARTS*/
.sb-rp h3 {
	margin-bottom: 15px;
}
	
.post {
	margin-bottom: 10px;
}

.post .image {
	float: left;
	width: 30%;
}

.post .image img {
	max-width: 100%;
}

.post .post-content {
	float: right;
	margin: 5px 0;
	width: 65%;
	font-size: 0.72em;
}

.post .post-content .date, .post .post-content .comments {
	font-size: 0.8em;
	letter-spacing: 0.03em;
	color: #aaa;
	margin: 4px 0;
}

.clearfix:after {
	content:"";
	display: block;
	height: 0;
	clear: both;
}