* {
	padding: 0;
	margin: 0;
}

html, body {
	font-family: "Lucida sans", "Helvetica";
	font-size: 16px;
}

.page-header {
	position: fixed;
	top: 0;
	width: 100%;
	background: #505050;
	z-index: 1000;
}

.page-header nav {
	vertical-align: middle;
	text-align: center;
}

.main-menu {
	list-style: none;
	font-size: 0;
}

.main-menu li {
	display: inline-block;
	font-size: 16px;
}

.main-menu li a {
	min-width: 8em;
	display: block;
	padding: 10px 0 8px;
	text-align: center;
	font-size: 0.9em;
	color: #fff;
	text-decoration: none;
	border-bottom: 2px solid #505050;
}

.main-menu li a:hover {
	background: rgba(255,255,255,.4);
	color: #ADD8E6;
	border-bottom: 2px solid #fff;
}

.banner {
	background: #ADD8E6;
	width: 100%;
	margin-top: 35px;
	text-align: center;
	padding: 100px 0 120px;
	color: #444;
}

.banner h1 {
	font-size: 2.6em;
	margin: 0 auto 0.3em;
	padding: 0 0 0.3em;
	max-width: 75%;
	border-bottom: 2px solid #505050;
}

.banner p {
	font-size: 1.15em;
}

.banner ul.btn {
	max-width: 290px;
	margin: 24px auto 0;
	padding: 10px;
	text-align: center;
	list-style: none;
	border: 2px solid #505050;
	font-size: 0;
}

.banner ul.btn li:first-child {
	display: block;
}

.banner ul.btn li {
	display: inline-block;
	font-size: 16px;
}

.banner ul.btn a {
	display: block;
	padding: 10px 10px 8px;
	font-size: 0.8em;
	text-transform: uppercase;
	background: #505050;
	color: #fff;
	text-decoration: none;
	letter-spacing: 0.1em;
	border-bottom: 2px solid #505050;
	height: 1.5em;
	line-height: 1.5em;
}

.banner .btn .btn-reg, .banner .btn .btn-lm {
	min-width: 125px;
	padding: 5px 10px 3px;
	background: #ADD8E6;
	color: #505050;
	border-bottom: 2px solid #505050;
}

.banner ul.btn a:hover {
	background: rgba(255,255,255,.3);
	color: #505050;
	font-weight: bold;
	letter-spacing: 0.11em;
	border-bottom: 2px solid #fff;
}

.main-goods {
	background: #efefef;
	padding: 40px 0;
}

.goods-list {
	text-align: center;
	list-style: none;
	color: #505050;
	font-size: 0;
}

.goods-list > li {
	display: inline-block;
	width: 14em;
	margin: 1em 1.5em;
	padding: 0 0 10px 0;
	border: 3px solid #505050;
	background: #fff;
	font-size: 16px;
}

.goods-list li b, .goods-list li span, .goods-list li a {
	display: block;
}

.goods-list li div {
	padding: 20px 0 0;
	background: rgba(0,255,0,.4);
}

.goods-list li div.yellow {
	background: rgba(255,255,0,.4);
}

.goods-list li div.red {
	background: rgba(255,0,0,.4);
}

.goods-list li b {
	margin: 0 auto 5px;
	padding: 3px 0;
	font-size: 1.4em;
	width: 8em;
	border-bottom: 2px solid #505050;
}

.goods-list li span {
	background: #505050;
	color: #fff;
	width: 8.5em;
	padding: 8px 0;
	margin: 0 auto;
	position: relative;
	top: 15px;
}

.goods-list li a {
	background: green;
	width: 7em;
	padding: 8px 0;
	margin: 40px auto 15px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	border-bottom: 2px solid #fff;
	border-top: 2px solid #fff;
}

.goods-list li a:hover {
	background: rgb(0,200,0);
	font-weight: bold;
	width: 7.5em;
	border-bottom: 2px solid rgb(0,200,0);
	border-top: 2px solid rgb(0,200,0);
}

.goods-list .features {
	text-align: center;
	list-style: none;
	color: #555;
	font-size: 0.85em;
}

ul.features li:first-child, ul.features li:nth-child(2) {
	border-bottom: 1px solid #505050;
	padding: 8px 0;
	width: 11em;
	margin: 0 auto;
}

ul.features li:last-child {
	padding: 8px 0;
	width: 11em;
	margin: 0 auto;
}