.banner ul.btn {
	max-width: 290px;
	margin: 24px auto 0;
	text-align: center;
	list-style: none;
	font-size: 0;
}

.banner ul.btn li:first-child {
	display: block;
}

.banner ul.btn li {
	display: inline-block;
	font-size: 16px;
}

.banner ul.btn a {
	display: block;
	padding: 10px 10px 8px;
	font-size: 0.8em;
	text-transform: uppercase;
	background: #505050;
	color: #fff;
	text-decoration: none;
	letter-spacing: 0.1em;
	height: 1.5em;
	line-height: 1.5em;
}

.banner ul.btn .btn-si {
	padding: 8px 8px 10px;
	border-top: 2px solid #505050;
	border-right: 2px solid #505050;
	border-left: 2px solid #505050;
}

.banner ul.btn .btn-reg, .banner ul.btn .btn-lm {
	min-width: 123px;
	padding: 5px 10px 3px;
	background: #ADD8E6;
	color: #505050;
	border-bottom: 2px solid #505050;
}

.banner ul.btn .btn-reg {
	border-left: 2px solid #505050;
}

.banner ul.btn .btn-lm {
	border-right: 2px solid #505050;
}

.banner ul.btn a:hover {
	background: rgba(255,255,255,.3);
	color: #505050;
	font-weight: bold;
	letter-spacing: 0.11em;
}

.banner ul.btn .btn-si:hover {
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
}

.banner ul.btn .btn-reg:hover {
	border-bottom: 2px solid #fff;
	border-left: 2px solid #fff;
}

.banner ul.btn .btn-lm:hover {
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
}

.main-goods {
	background: #efefef;
	padding: 40px 0;
}

.goods-list {
	text-align: center;
	list-style: none;
	color: #505050;
	font-size: 0;
}

.goods-list > li {
	display: inline-block;
	width: 14em;
	margin: 1em 1.5em;
	padding: 0 0 10px 0;
	border: 3px solid #505050;
	background: #fff;
	font-size: 16px;
}

.goods-list li b, .goods-list li span, .goods-list li a {
	display: block;
}

.goods-list li div {
	padding: 20px 0 0;
	background: rgba(0,255,0,.4);
}

.goods-list li div.yellow {
	background: rgba(255,255,0,.4);
}

.goods-list li div.red {
	background: rgba(255,0,0,.4);
}

.goods-list li b {
	margin: 0 auto 5px;
	padding: 3px 0;
	font-size: 1.4em;
	width: 8em;
	border-bottom: 2px solid #505050;
}

.goods-list li span {
	background: #505050;
	color: #fff;
	width: 8.5em;
	padding: 8px 0;
	margin: 0 auto;
	position: relative;
	top: 15px;
}

.goods-list li a {
	background: green;
	width: 7em;
	padding: 8px 0;
	margin: 40px auto 15px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	border-bottom: 2px solid #fff;
	border-top: 2px solid #fff;
}

.goods-list li a:hover {
	background: rgb(0,200,0);
	font-weight: bold;
	width: 7.5em;
	border-bottom: 2px solid rgb(0,200,0);
	border-top: 2px solid rgb(0,200,0);
	-webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

.goods-list .features {
	text-align: center;
	list-style: none;
	color: #555;
	font-size: 0.85em;
}

ul.features li:first-child, ul.features li:nth-child(2) {
	border-bottom: 1px solid #505050;
	padding: 8px 0;
	width: 11em;
	margin: 0 auto;
}

ul.features li:last-child {
	padding: 8px 0;
	width: 11em;
	margin: 0 auto;
}