.contacts {
	max-width: 30%;
	padding: 10px 40px;
	margin: 30px auto;
	list-style: none;
	text-align: center;
}

.contacts li {
	position: relative;
	margin-bottom: 15px;
}

.contacts li:last-child {
	margin-bottom: 0;
}

.contacts .icon {
	position: absolute;
	height: 32px;
	width: 22px;
	background: url("../image/contacts.png") no-repeat;
	margin-left: -30px;
	margin-top: 1px;
}

.contacts .icon-tel {
	background-position: -30px 0;
}

.contacts .icon-email {
	background-position: -60px 0;
}

form {
	margin: 0 auto;
	max-width: 60%;
}

.half {
	float: left;
	width: 48%;
}

.right {
	margin-left: 4%;
	width: 48%;
}

.half input, .half textarea {
	padding: 7px;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 25px;
	font-family: 'Merriweather', sans-serif;
}

textarea {
	min-height: 149px;
}

#input-submit {
	width: 100%;
	text-transform: uppercase;
	padding: 7px 0;
	background: rgb(0,200,0);
	border: none;
	font-weight: bold;
	font-size: 0.8em;
	letter-spacing: 0.06em;
	color: #fff;
	display: block;
	outline: 0;
	cursor: pointer;
	margin: 0 auto;
}

#input-submit:hover {
	background: #32CD32;
	-webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

footer {
	margin-top: 30px;
}

@media screen and (max-width: 900px) {
	form {
		max-width: 75%;
	}
	.half {
		
		width: 98%;
	}
	.right {
		margin: 0;
		width: 98%;
	}
}
	
@media screen and (max-width: 480px) {
	form {
		max-width: 90%;
	}
	.contacts {
		max-width: 70%;
	}
}